.hotelImg {
    box-sizing: content-box;
    width: 500px;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.hotelImgContainer {
    background: #000;
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotelInfo {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
    gap: 20px;
}

.hotelName {
    font-size: 55px;
    font-family: 'Playfair Display', serif;
    color: #583101;
    text-decoration: none;
}

.hotel {
    margin: 80px;
    display: flex;
    flex-direction: row;
}
.pageButtons {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pageButtons span {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 10px 10px;
    background-color: rgba(88, 49, 1, 0.51);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageButtons button {
    cursor: pointer;
    border: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #583101;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageButtons button:hover {
    background-color: rgba(88, 49, 1, 0.7);
}
.deleteButton {
    cursor: pointer;
    text-decoration: none;
    background-color: #bd0c25;
    color: #EFF5ED;
    padding: 16px 24px;
    max-width: 150px;
}

.deleteButton:hover {
    background-color: #d95757;
}

.createButton {
    cursor: pointer;
    text-decoration: none;
    background-color: #406722;
    color: #EFF5ED;
    padding: 16px 24px;
    max-width: 150px;
}

.createButton:hover {
    background-color: #4f8f4a;
}

.feedbacks {
    display: flex;
    justify-content: center;
    gap: 10px;
}