.booking {
    background-color: rgba(88, 49, 1, 0.15);
    font-family: 'Poppins', sans-serif;
    gap: 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.booking + .booking {
    margin-top: 20px;
}

.bookingInfo {
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    gap: 10px;
    font-size: 20px;
    color: #121619;
}

.deleteButton {
    cursor: pointer;
    text-decoration: none;
    background-color: #bd0c25;
    color: #EFF5ED;
    padding: 16px 24px;
}

.deleteButton:hover {
    background-color: #d95757;
}

.bookingButton {
    cursor: pointer;
    text-decoration: none;
    background-color: #583101;
    color: #EFF5ED;
    padding: 16px 24px;
}

.bookingButton:hover {
    background-color: #734416;
}

.bookingButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}