body {
    font-family: Abel;
}

.hotelItemImg {
    box-sizing: content-box;
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.hotelItemInfo {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    gap: 10px;
    font-size: 20px;
}

.hotelItemImgContainer {
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotelItem {
    padding: 20px;
    background-color: #d6dcf1;
    border-radius: 5px;
    gap: 20px;
    display: flex;
    width: 90%;
}


.hotelItem + .hotelItem{
    margin-top: 20px;
}

.hotelItemName {
    font-size: 35px;
    color: #2d4980;
    text-decoration: none;
}

.hotelItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}