.hotelItemImg {
    box-sizing: content-box;
    width: 300px;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.hotelItemInfo {
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    gap: 10px;
    font-size: 20px;
    color: #121619;
}

.hotelItemImgContainer {
    background: #000;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotelItem {
    background-color: rgba(88, 49, 1, 0.15);
    font-family: 'Poppins', sans-serif;
    gap: 20px;
    display: flex;
    width: 90%;
}


.hotelItem + .hotelItem{
    margin-top: 20px;
}

.hotelItemName {
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    color: #583101;
    text-decoration: none;
}

.hotelItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}