.InputField {
    background-color: #583101;
    margin: 10px 156px 0 156px;
    padding: 29px 88px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.searchField {
    background-color: rgba(88, 49, 1, 0);
    border: 2px solid #FFEDD8;
    padding: 16px 24px;
    display: flex;
    color: #FFEDD8;
    align-items: center;
    justify-content: center;
}

.searchField input {
    background-color: rgba(255, 237, 216, 0.22);
    border: 2px solid #FFEDD8;
    color: #FFEDD8;
}

.searchField div {
    margin-left: 20px;
    cursor: pointer;
}

.InputText {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background-color: #FFEDD8;
    color: #583101;
    max-width: 150px;
    border: none;
    border-radius: 0;
    padding: 0 10px;
}

.inputDateContainer {
    cursor: pointer;
    display: flex;
}

.InputDate {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 15px;
    font-weight: 500;
    width: 100px;
    color: #FFEDD8;
}

.InputButton {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    padding: 16px 24px;
    margin-left: 15px;
    background-color: #583101;
    color: #FFEDD8;
    border: 2px solid #FFEDD8;
}

.InputButton:hover {
    background-color: #734416;
}

.filters {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
    color: #583101;
}

.filter {
    max-width: 50px;
}

.filters input {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    border-radius: 0;
    color: #583101;
}

.filters select {
    font-size: 14px;
    color: #583101;
}

.checkbox {
    margin-top: 8px;
}

.north {
    margin-left: 8px;
}