body {
    background-color: #FFEDD8;
}
.bgImg {
    width: 100%;
}

.firstScreenText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 210px;
}

.firstScreenText h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 32px;
    color: #FFEDD8;
}

.firstScreenText h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight: 500;
    font-size: 56px;
    color: #FFEDD8;
}

.pageButtons {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pageButtons span {
    font-size: 20px;
    padding: 3px 10px;
    background-color: #657d94;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageButtons button {
    cursor: pointer;
    border: none;
    font-family: Abel;
    font-size: 20px;
    padding: 3px 10px;
    background-color: #2d4980;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageButtons button:hover {
    background-color: #4a608d;
}