.headerBlock {
    font-size: 22px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #2d4980;

}

.headerComponent {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: #ffffff;
    padding: 3px 10px;
    margin: 10px;
    border-radius: 10px;
}

.user {
    color: white;
}

.userName {
    cursor: pointer;
    text-decoration: underline;
}