.headerBlock {
    font-size: 22px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: #2d4980;

}

.headerComponent {
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: #ffffff;
    padding: 3px 10px;
    margin: 10px;
    border-radius: 10px;
}