.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    max-height: 60%;
    max-width: 700px;
    min-width: 20%;
    background-color: #FFEDD8;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formChange {
    cursor: pointer;
    text-decoration: underline;
    color: #4a608d;
    font-size: 14px;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 0;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: #583101;
}

.closeButton {
    cursor: pointer;
    align-self: flex-end;
    margin: 20px 20px 0 0;
}

.footer {
    display: flex;
    gap: 10px;
    padding: 10px
}

.feedbacks {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border-top: 1px solid #583101;
    border-bottom: 1px solid #583101;
}

.feedback + .feedback {
    margin: 10px 0;
}

button {
    cursor: pointer;
    border: none;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #583101;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background-color: rgba(88, 49, 1, 0.7);
}

.feedback {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(88, 49, 1, 0.15);
}

.goodRate {
    color: #1aa41a;
}

.badRate {
    color: red;
}

.mediumRate {
    color: #eaa618;
}