.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70%;
    max-width: 700px;
    min-width: 20%;
    background-color: #FFEDD8;
    padding: 20px;
    color: #583101;
    font-family: 'Poppins', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formChange {
    cursor: pointer;
    text-decoration: underline;
    color: #4a608d;
    font-size: 14px;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}

.closeButton {
    cursor: pointer;
    align-self: flex-end;
}

.form button {
    cursor: pointer;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    background-color: #583101;
    color: #FFEDD8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form button:hover {
    background-color: rgba(88, 49, 1, 0.7);
}