.roomButton {
    cursor: pointer;
    text-decoration: none;
    background-color: #583101;
    color: #EFF5ED;
    padding: 16px 24px;
}

.roomButton:hover {
    background-color: #734416;
}


.roomButtons {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.roomItemImg {
    box-sizing: content-box;
    width: 300px;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.roomItemInfo {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-left: 50px;
    gap: 10px;
    font-size: 20px;
    color: #121619;
}

.roomItemImgContainer {
    background: #000;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomItem {
    background-color: rgba(88, 49, 1, 0.15);
    font-family: 'Poppins', sans-serif;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.leftBlock {
    display: flex;
    gap: 20px
}

.roomItem + .roomItem{
    margin-top: 20px;
}

.roomItemName {
    font-size: 35px;
    color: #2d4980;
    text-decoration: none;
}

.roomItemContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.red {
    color: red;
}

.green {
    color: green;
}

.deleteButton {
    cursor: pointer;
    text-decoration: none;
    background-color: #bd0c25;
    color: #EFF5ED;
    padding: 16px 24px;
}

.deleteButton:hover {
    background-color: #d95757;
}